<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="newsFeedApp">
<head>
    <title>Task 1</title>
    <script src="../Libraries/angular.js"></script>
    <script src="model.js"></script>

    <link href="../Libraries/bootstrap.css" rel="stylesheet" />
    <link href="../Libraries/bootstrap-theme.css" rel="stylesheet" /> 

</head>
<body ng-controller="NewsFeedCtrl">
 <div class="container">
 	<div class="page-header">
 	<h1>ITVDN news</h1>
 	<a class="btn btn-primary" ng-click="showDetails()">Details</a>	
 	<a class="btn btn-primary" ng-click="hideDetails()">Not Details</a>
 	</div>
 	<ng-include src="url"></ng-include> 	
 </div>
</body>
</html>
